@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


.App {
  width: 100vw;
  height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afbd, #97d9e1 100%);
  font-family: 'Poppins', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.configurator {
  position: fixed;
  top: 110vh;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  color: white;

}

.configurator__section__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
}

.configurator__section__values {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item__label {
   font-size: 12;
   color: #acacac;
   transition: .4s color;
}

.item {
  transition: .4s opacity;
}

.item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.item.item--active .item__label {
  color: rgb(0, 0, 0);
}